
<!-- <p id="notice"><%= notice %></p> -->
<div class="freq-cloud"><span class="frequency-text">Word Counter</span>
  <div class="plus">
    <span style="display:none">


      <%= var = Post.where( user_id: current_user ).pluck(:body) %></span>


    <span style="display:none">
        <%= bank = var.join.downcase.split(/[^'’\p{L}\p{M}]+/) %>
        <% frequencies = Hash.new(0) %>
        <%= bank.each { |word| frequencies[word] += 1 } %>
        <% frequencies = frequencies.sort_by {|a, b| b } %>
        <%= tally = frequencies.each { |word, frequency| puts word + " = " + frequency.to_s } %>
        <%= a = tally.last(10).reverse.join(", ")  %>
    </span>
    <span> 
        <%= a.titleize.gsub(/, (\d+)/, " = \\1") %>
    </span>
  </div>
</div>

<h1>Library</h1>


<br>
<div id="library">

<% @posts = Post.all.order('created_at DESC') %>
 <% @posts.each do |post| %>
        <% if post.user == current_user %>
        <div class="notecard">
        <h3 style="float:left"><%= post.title %></h3>
        <div class="edit-buttons">
          <%= link_to 'Show', post %> |         
          <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
        </div>
        <div class="created-at"><%= "Posted " + time_ago_in_words(post.created_at) + " ago"%></div>
        <br>
        <span class="post-body" style="white-space: pre-wrap;"><%= @postbody = post.body %>
        </span><br >
        </div>
      <div class="post-cutter"> </div>
 <% end %>  
<% end %>
<br>
</div>
<div class="new_post_button">
<%= link_to 'New Post', new_post_path, :class=>"btn btn-default", :role=>"button" %>
</div>
<br>
<br>

